@use '../../../../styles/vars';
@use '../../../../styles/colours';
@use '../../../../styles/placeholders';

.box {
    width: 404px;
    height: 473px;
    padding: 20px 32px 24px;
    border-radius: vars.$radius-16;

    background-color: colours.$bg;

    :global {
        .ant-col {
            font-size: vars.$fs-4;
        }
    }

    .infoRow {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 45px;

        :global {
            .ant-row {
                height: 39px;
            }

            @extend %default-divider;
        }
    }
}