/* Colours */
// Basic colours
$white: #FFFFFF;
$bg: #F4F6F9;
$card-stroke: #E0E3E7;
$gray: #B8BBC6;
$gray2: #B6C9D4;
$second-text: #3E3F4B;
$primary-text: #252525;

//Accent colours
$dark-blue: #4D90F1;
$blue: #7AB0FF;
$selected: #C0DFFC;
$purple-light: #D6CEF9;
$purple: #B3C8F2;

// Functional colours
$red: #D36668;
$green: #60DA74;
$green-light: #CEF9D5;
$yellow: #FFEE94;

/* */
$radius-16: 35px;
$radius-35: 35px;
$radius-60: 60px;