@use '../../../styles/vars';
@use '../../../styles/colours';
@use '../../../styles/placeholders';

.head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.heading {
    :global {
        .ant-typography {
            margin-bottom: 20px;
            font-weight: 400;
            color: colours.$dark-blue;
        }

        @extend %h1-divider;
    }
}

.chatname {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    :global {
        .ant-avatar {
            margin-left: 24px;
        }
    }
}