
.appHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 20px;
    /*color: #FFFFFF;*/
    width: 1078px;
    height: 100px;
    padding-inline: 50px;

    background-color:  #FFFFFF;
}

.appContent {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 1078px;
    text-align: center;
    min-height: 120px;
    line-height: 120px;
    color: #fff;
    background-color: #108ee9;
}

.appSider {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 120px;
    color: #fff;
    background-color: #3ba0e9;
}


